.home-page {
  background-image: url("../img/background-texture.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .portfolio-text {
    position: absolute;
    width: 80%;
    left: 0;
    top: 0;
  }
  .home-personnage {
    position: absolute;
    width: 45%;
    bottom: 0;
    left: 30%;
  }
  .home-charlot-kolly {
    position: absolute;
    width: 30%;
    left: 4%;
    bottom: 4%;
    mix-blend-mode: soft-light;
  }
  .home-light {
    position: absolute;
    width: 3000px;
    top: 150px;
    right: 100px;
    mix-blend-mode: overlay;
    opacity: 1;
    animation: flicker 3s infinite;
    filter: brightness(1);
  }

  @keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      opacity: 1;
      filter: brightness(1);
    }

    /* moments "off" un peu plus longs */
    19%,
    23%,
    55% {
      opacity: 0;
      filter: brightness(0.5);
    }

    /* moments où la lampe est instable (mais pas totalement éteinte) */
    20%,
    24% {
      opacity: 0.8;
      filter: brightness(1.4);
    }

    /* petit moment de semi-luminosité, pour une impression plus naturelle */
    54%,
    56% {
      opacity: 0.6;
      filter: brightness(0.8);
    }
  }

  .home-lamp {
    position: absolute;
    width: 700px;
    top: 0;
    right: 0;
  }
  .logo {
    position: absolute;
    width: 23%;
    bottom: 0;
    right: 3%;
    mix-blend-mode: overlay;
  }
  .texture-grain {
    position: absolute;
    width: 100%;
    height: 100vh;
    mix-blend-mode: overlay;
  }
  .black-fill {
    position: absolute;
    background-color: oklab(0% 0 0 / 0.5);
    width: 100%;
    height: 100vh;
    mix-blend-mode: soft-light;
  }
}
